.card {
    border: red solid 2px;
    position: relative;
    width: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: .25rem;
}

.front, .back{
    width: 100%;
    display: flex;
    justify-content: center;
}

.icon {
    color: chartreuse;
    font-size: 8rem;
    width: 50%;
}
.back .icon {
    color: rgb(78, 41, 13);
    font-size: 8rem;
    width: 50%;
}