.card {
    border: rgb(129, 205, 75) solid 2px;
    position: relative;
    width: 15%;
    display: flex;
    margin-bottom: .25rem;
}
.front, .back{
    width: 100%;
    display: flex;
    justify-content: center;
}
.card .front{
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}
.flipped .front{
    transform: rotateY(0deg);
    transition-delay: 0s;
    background: #000;
}
.card .back {

     transition: all ease-in 0.2s;
     transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}
.front .icon {
    color: chartreuse;
    font-size: 8rem;
    width: 50%;
}
.back{
    background-color: chocolate;
}
.back .icon{
    color: rgb(78, 41, 13);
    font-size: 8rem;
    width: 50%;
}
