.page {
    background-color: chocolate;
    height: 100vh;
    width: 100vw;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background: #000;
    color: chocolate;
    text-decoration: none;
    padding: .1em;
    border-radius: .5rem;
}